/*
 * Styles for use in the visual editor.
 *
 * Thanks to: http://azaozz.wordpress.com/2010/01/02/can-themes-style-the-visual-editor/
 *
 * Two types of styles can be defined here: general styles to make the editor look
 * more like the theme and CSS classes that can be selected by the user.
 *
 * @package TinyMCE Kit
 *
 */
 

/**
 * Example of general styles for the editor
 *
 * If you're styling the image caption, in the editor it's in 
 * <dl.wp-caption> <dt.wp-caption-dt> <dd.wp-caption-dd> structure.
 */


/*	Main Content Style */
html .mceContentBody {font: 12px/20px Arial, Helvetica, sans-serif;width:620px;margin:0 10px;padding:10px;background:transparent url('img/grid.png') 10px 0 repeat-y;}

/*	Entry Content */
h1 {margin:10px 0 5px 180px;padding:0 5px;font-size:12px;line-height:15px;text-transform:uppercase;}
h2 {margin:10px 0 5px 180px;padding:0 5px;font-size:12px;line-height:15px;text-transform:uppercase;}
h3 {margin:10px 0 5px 180px;padding:0 5px;font-size:12px;line-height:15px;text-transform:none;}
h4 {margin:10px 0 5px 180px;padding:0 5px;font-size:12px;line-height:15px;text-transform:none;}
h5, h6 {margin:10px 0 5px 180px;padding:0 5px;font-size:12px;line-height:15px;text-transform:none;}
div {margin-left:180px;line-height:20px;}
p {margin:0 0 15px 180px;padding:0 5px;line-height:20px;}
a:hover {text-decoration:underline;}
ul,
ol {margin:20px 0 20px 200px;}
ul li,
ol li {line-height:20px;padding:0 5px;}
ul ul,
ol ol,
ul ol,
ol ul {margin:0 0 0 20px;line-height:20px;}
ul p,
ol p {margin-left:0;line-height:20px;}
abbr {border-bottom:1px dotted #AAA;text-transform:uppercase;font-size:0.85em;letter-spacing:1px;}
blockquote {margin-bottom:20px;margin-left:200px;padding:0 5px;font-style:italic;font-size:11px;line-height:17px;}
small {font-size:11px;line-height:17px;}
blockquote *,
blockquote pre {padding:5px 0;margin:0;font-style:italic;font-size:11px;line-height:17px;}
p cite {border-bottom:1px solid #AAA;font-style:italic;margin-top:-20px;line-height:17px;}
code {font-family: "Courier New",Courier,monospace;font-size:13px;}
del {text-decoration:line-through;}
dl {margin:0 0 10px 180px;}
dl dt {font-weight:600;margin-top:5px}
dl dd {padding-left:10px;}
ins {text-decoration:underline;}
pre {width:440px;margin:0 0 20px 180px;overflow:hidden;font-family: "Courier New",Courier,monospace;font-size:13px;}
hr{border:none;background-color:#AAA;height:1px;margin:0 0 15px 175px;display:block;clear:both;}
object {margin-left:-5px;}
.page-link {margin-left:180px;}

/*	Image Styles */
img {height:inherit;margin-left:-5px;}
img.alignleft {margin-left:-5px;}
img.aligncenter {margin:5px auto;}
img.alignright {margin:5px -10px 5px 10px;}
img.alignnone {height:inherit;margin-left:-5px;}

/*	Full Images */
img.size-full,
img.size-full.alignleft,
img.size-full.aligncenter,
img.size-full.alignright,
img.size-full.alignnone {height:inherit;margin-left:-185px;}

/*	Large Images */
img.size-large,
img.size-large.aligncenter,
img.size-large.alignnone {height:inherit;margin-left:-185px;margin-bottom:-5px;}
img.size-large.alignleft{margin-bottom:10px;}
img.size-large.alignright {height:inherit;margin-left:-185px;margin-bottom:10px}

/*	Medium Images */
img.size-medium,
img.size-medium.alignnone,
img.size-medium.aligncenter {margin-left:-5px;margin-bottom:-5px;}
img.size-medium.alignleft {height:inherit;margin-left:-95px;margin-bottom:5px;}
img.size-medium.alignright {height:inherit;margin:5px -10px 5px 10px;}

/*	Thumbnail Images */
img.size-thumbnail,
img.size-thumbnail.alignnone,
img.size-thumbnail.aligncenter{margin:5px auto -5px}
img.size-thumbnail.alignleft {margin:5px 10px 5px -5px;}
img.size-thumbnail.alignright {height:inherit;margin:5px -10px 10px 10px;}

/*	Misc. Images */
img.no-hang, img.size-thumbnail.no-hang, img.size-medium.no-hang {margin:5px 10px 5px -5px;float:left;}
img.hang-1-column, entry-content img.size-thumbnail.hang-1-column, img.size-medium.hang-1-column {margin:5px 10px 5px -95px;float:left;}
img.hang-2-column, entry-content img.size-thumbnail.hang-2-column, img.size-medium.hang-2-column {margin:5px 10px 5px -185px;float:left;}

/*	Misc. Divs */
.no-hang {margin:0 10px 5px 200px;float:left;list-style-position:inside;}
.hang-1-column {margin:0 10px 5px 90px;float:left;list-style-position:inside;}
.hang-2-column {margin:0 10px 5px 0px;float:left;list-style-position:inside;}

/*	Page Styles */
.page-link {padding:0 5px;margin-left:180px;}
.topcolumn {width:710px;padding-bottom:0px;margin:0 0 15px 180px;float:none;clear:both;display:table;border-bottom:1px solid #AAA;}
.topcolumn p {margin-left:0;}
.topcolumn ul,
.topcolumn ol {margin-left:20px;}
.topcolumn * {margin-left:5px;}
.leftcolumn {width:350px;float:left;}
.leftcolumn p {margin-left:0}
.leftcolumn ul,
.leftcolumn ol {margin-left:20px}
.leftcolumn * {margin-left:0}
.rightcolumn {width:350px;float:right;margin:0;}
.rightcolumn p {margin-left:0;}
.rightcolumn ul,
.rightcolumn ol {margin-left:20px;}
.rightcolumn * {margin-left:5px;}
.topcolumn img {height:inherit;margin-left:-5px;}
.rightcolumn img.alignleft {margin-left:-5px;}

/*	Image/Gallery Styles */
img {margin:5px 10px 5px -5px;}
.alignleft,
img.alignleft {margin-right:10px;float:left;}
.alignright,
img.alignright {display:block;float:right;}
.aligncenter,
img.aligncenter {margin:5px auto -7px;clear:both;display: block;}
.alignnone,
img.alignnone {margin-bottom:-5px;}
.gallery img {margin:0}
.wp-smiley {max-height:12px;margin:0 !important}


