/*	IE */
.msie #nav{position:relative;z-index:50;}
.msie #nav #nav-search {margin-left:0px;}
.msie #nav input#nav-s {margin-top:5px;width:200px;font-size:12px;}
.msie #wrapper #toptags {clear:none;float:none;}
.msie #toptags ul li a span,
.msie #alltags ul li a span,
.msie #allcategories ul li a span,
.msie #allcategories ul li a span,
.msie #toptags ul li.all-tags-link span {z-index:5;position:relative;}
.msie #toptags ul li a span.postcount,
.msie #alltags ul li a span.postcount,
.msie #toptags ul li.all-tags-link span.postcount,
.msie #allcategories ul li a span.postcount,
.msie #allcategories ul li a span.postcount {position:absolute;}
.msie #toptags ul li,
.msie #alltags ul li,
.msie #allcategories ul li,
.msie #allcategories ul li .description,
.msie #datearchives ul li,
.msie #toptags ul li a,
.msie #alltags ul li a,
.msie #allcategories ul li a,
.msie #allcategories ul li .description,
.msie #datearchives ul li a {width:150px;}
.msie #allcategories h3 {width:65px;overflow:hidden;}
.msie #wrapper #box {display:none;}
.msie #wrapper #content {clear:right;float:left;display:table;overflow:hidden;}
.msie #wrapper #content .entry-content {overflow:visible;}
.msie #wrapper #content .entry-content img {position:relative;zoom:1;}
.msie #wrapper #content .entry-content blockquote {margin-bottom:20px;margin-left:20px;font-style:italic;font-size:11px;line-height:17px;color:#777}
.msie.page #wrapper #content {width:890px;}
.msie #wrapper #respond {margin:20px 0 0 90px;}
.msie #wrapper #comments-list,
.msie #wrapper #comments-list ol {overflow:visible;}
.msie .sidebar .widget_basic_maths_archives div,
.msie .sidebar .widget_basic_maths_archives div ul {padding:0;margin:0;}
.msie #basic-maths-calendar #wp-calendar td,
.msie #basic-maths-calendar #wp-calendar td a {height:60px;width:105px;padding-bottom:0;margin-bottom:0;}
.msie .nextprev {margin-bottom:20px;}

/*	IE7 */
.ie7 #content {position:relative;overflow:visible;width:620px;}
.ie7 #comments {display:table;clear:both;float:none;}
.ie7 #comments h3 {margin-left:15px;}
.ie7 #respond {margin-left:90px;}
.ie7 #content img.alignleft.size-large {margin-left:-95px;}
.ie7 #content .aligncenter,
.ie7 #content img.aligncenter,
.ie7 #content .alignnone,
.ie7 #content img.alignnone {margin-bottom:-7px;}

/*	IE6 */
.ie6 #nav li a:hover,
.ie6 #header a:hover {color:#FFF;}
.ie6 #nav ul {margin:0;padding:0;}
.ie6 #nav li.current_page_item a:hover {color:#999}
.ie6 #content {position:relative;overflow:visible;width:620px;}
.ie6 #content .entry-date {margin-left:90px;}
.ie6 #content .entry-content img.alignleft.size-large,
.ie6 #content .entry-content img.alignnone.size-large {margin-left:-185px;}
.ie6 #content .aligncenter,
.ie6 #content img.aligncenter,
.ie6 #content .alignnone,
.ie6 #content img.alignnone {margin-bottom:-7px;}
.ie6 #content #comments cite {margin-left:-15px;}
.ie6.page #content .entry-title {margin-left:90px;}
.ie6 .sidebar .widget_basic_maths_recent_posts ul li a,
.ie6 .sidebar .widget_basic_maths_archives ul li a,
.ie6 .sidebar .widget ul li a {display:inline-block;}
.ie6 .sidebar .widget_basic_maths_more_info li a {display:inline-block;background-image: url('../img/icon-sprite.gif');}
.ie6 #nav li:hover ul {display:block;position:absolute;top:60px;}

