/*	  
Basic Maths iPhone Styles
version: 1.0.10
*/

/*	Reset
----------------------------------------- */
*{padding:0;margin:0;text-decoration:none;font-size:1em;outline:none}code,kbd,samp,pre,tt,var,textarea,input,select,isindex{font:inherit;font-size:1em}dfn,cite,var,address{font-style:normal}i,em{font-style:italic;}th,b,strong,h1,h2,h3,h4,h5,h6{font-weight:bold}a,img,a img,iframe,form,fieldset,abbr,acronym,object,applet{border:none}table{border-collapse:collapse;border-spacing:0}caption,th,td,center{text-align:left;vertical-align:top}body{line-height:1;background:white;color:black}q{quotes:""""}dir,menu{list-style:none}sub,sup{vertical-align:baseline}a{color:inherit}hr{display:none}font{color:inherit !important;font:inherit !important;color:inherit !important}html {background:#FFF;}
body {margin:0 10px;padding:0;color:#333;font:62.5%/1.6em Arial,Verdana,sans-serif;}
a, a:link, a:visited {color:#066;font-weight:600;text-decoration:none;}
a:hover, a:active {color:#FF6600;}
.error {color:red;}

/*	Positioning
----------------------------------------- */
#wrapper {width:100%;margin:0;padding:0;z-index:2;font-size:12px;}
#header {width:100%;margin:0;padding:0;float:left;clear:both;position:relative;z-index:6}
#access {width:100%;float:none;}
#container {width:100%;margin:0;float:none;display:block;position:relative;}
#content {width:100%;margin:0;float:left;display:block;position:relative;}
#wrapper #skip {height:150px;left:1000px;right:0;min-width:24px;margin-right:10px;background:#066;position:absolute;overflow:hidden;z-index:1;display:none;}
#footer {width:100%;height:50px;padding:10px 0;margin:0;clear:both;float:none;}

/*	Header
----------------------------------------- */
#header {background:transparent;display:block;clear:both;padding:10px 0 0;margin-bottom:0;border:1px solid #066;border-width:0 0 1px;}
#header h1 {min-height:30px;position:relative;border-width:0;font-size:30px;line-height:30px;font-family:Helvetica,HelveticaNeue,Arial,Verdana,sans-serif;}
#header h1 a {display:block;position:relative;min-height:30px;padding:0 5px;}
#header h1 a span {bottom:inherit;position:relative;line-height:30px;text-decoration:none;}
#header h1 a:hover,
#header h1:hover a {color:#FFF;}
#header .description {top:inherit;padding:0 5px 10px 5px;position:relative;border:none;background:transparent;color:#999;font-size:11px;display:block;}
#skip a {width:100%;height:150px;padding:6px 5px;display:block;z-index:1}
#skip a span {visibility:hidden;}
#skip a:hover{color:#FFF;}

/*	Menu
----------------------------------------- */
#iphone-nav{width:100%;display:block;clear:both;padding:0;margin:0 0 10px;border-top:none;border-bottom:1px solid #AAA;clear:both;position:relative;}
#iphone-nav #iphone-menu {padding:0;margin:0;width:65px;float:none;display:inline-block;}
#iphone-nav #iphone-menu #menu-hover a {padding:11px 20px 13px 5px;margin:0;font-size:14px;display:block;}
#iphone-nav .active a {color:#FFF;}
#iphone-nav #iphone-menu div {top:40px;position:absolute;margin:0;z-index:9999;background:#FFF;border:1px solid #000;border-width:1px 1px 1px 0;border-color:#AAA #DDD #000;}
#iphone-nav li {padding:0;float:left;position:relative;list-style:none;}
#iphone-nav li a,
#iphone-nav li.current_page_item:hover a {width:78px;height:36px;padding:6px 10px 6px 5px;margin:0; display:block; border:1px solid #DDD; border-width:0 0 1px 1px;}
#iphone-nav li a:hover {color:#FFF;}
#iphone-nav li.current_page_item:hover,
#iphone-nav li.current_page_item a,
#iphone-nav li.current_page_item:hover a {color:#999;background-color:transparent;text-decoration:none;cursor:default;}
#iphone-nav li.current_page_item ul li.page_item:hover a,
#iphone-nav li.current_page_item ul li.page_item a:hover,
#iphone-nav li:hover a {color:#FFF;}
#iphone-nav li ul.children,
#iphone-nav li ul.sub-menu {display:none;}
#iphone-nav li#nav-search:hover {background:transparent;}
#iphone-nav #nav-search {padding:5px 9px 5px 5px;margin-left:0px;float:none;display:inline-block;border-left:1px solid #DDD;}
#iphone-nav #nav-search label {text-transform:uppercase;font-size:11px;display:none;}
#iphone-nav input#nav-s {margin-top:0px;font-size:12px;width:140px}
#iphone-nav input#nav-submit {width:35px;}

/*	iPhone Media size constraints */
@media screen and (max-width: 480px) {
	#iphone-nav #iphone-menu .menu,
	#iphone-nav #iphone-menu .bm-menu {width:459px;}
	#iphone-nav li a,
	#iphone-nav li.current_page_item:hover a {width:75px;}
}
@media screen and (max-width: 320px) {
	#iphone-nav #iphone-menu .menu,
	#iphone-nav #iphone-menu .bm-menu {width:299px;}
	#iphone-nav li a,
	#iphone-nav li.current_page_item:hover a {width:83px;}
}


/*	Content
----------------------------------------- */
.post, .page {margin-bottom:10px;overflow:hidden;display:table;clear:both;position:relative;}
.home .post, .home .page,
.archive .post, .archive .page,
.search .post, .search .page {width:100%;}

/*	Entry and Page Titles */
.entry-title {width:100%;float:none;padding:0 0 10px;border-bottom:1px solid #DDD;font-size:18px;line-height:24px;font-family:Helvetica,HelveticaNeue,Arial,Verdana,sans-serif;}
.single .entry-title {background:transparent;}
.entry-title a {min-height:48px;padding-left:85px;padding-right:20px;display:block;}
.page-title {color:#333;font-size:11px;font-weight:400;height:40px;text-transform:uppercase;padding-left:5px;margin-bottom:10px;border-bottom:1px solid #AAA;position:relative;display:block;width:inherit;clear:both;float:none;}
.page-title .search-result {width:65px;padding:2px 0 0;display:block;float:left;clear:none;font-size:11px;text-transform:uppercase;}
.page-title .search-term {font-size:18px;font-weight:800;line-height:14px;text-transform:none;position:absolute;left:95px;font-family:Helvetica,HelveticaNeue,Arial,Verdana,sans-serif;}
.archive-title span {color:#333;font-size:11px;font-weight:400;line-height:20px;text-transform:uppercase;padding:0 5px;margin-bottom:0;min-height:20px;position:relative;display:inline-block;width:75px;clear:none;float:left;font-family:Arial,Verdana,sans-serif;}
.archive-title {color:#666;font-size:18px;font-weight:800;text-transform:uppercase;padding-top:3px;line-height:18px;position:relative;left:0px;font-family:Helvetica,HelveticaNeue,Arial,Verdana,sans-serif;}
.entry-date {position:absolute;top:0;left:0;width:65px;height:56px;padding:2px 10px 0 5px;margin-left:0;display:block;float:left;clear:none;font-size:11px;text-transform:uppercase;}
.entry-date span {display:block;}
.search-result {width:65px;padding:2px 10px 0 5px;display:block;float:left;clear:none;font-size:11px;text-transform:uppercase;}
.search-no-results .archive-title, .error404 .archive-title {margin-left:0px;}
.home .entry-title a,
.archive .entry-title a, 
.search .entry-title a {background:transparent url('../img/right.gif') right center no-repeat;}

/*	Entry Content */
.home .entry-content,
.archive .entry-content {display:none;}
.entry-content {padding:10px 0;margin:0;clear:both;float:none;display:block;overflow:hidden;/* max-width:320px */}
.entry-content h1 {margin:10px 0 5px;padding:0 5px;font-size:12px;line-height:15px;text-transform:uppercase;color:#000}
.entry-content h2 {margin:10px 0 5px;padding:0 5px;font-size:12px;line-height:15px;text-transform:uppercase;color:#333}
.entry-content h3 {margin:10px 0 5px;padding:0 5px;font-size:12px;line-height:15px;text-transform:none;color:#333}
.entry-content h4 {margin:10px 0 5px;padding:0 5px;font-size:12px;line-height:15px;text-transform:none;color:#666}
.entry-content h5,
.entry-content h6 {margin:10px 0 5px;padding:0 5px;font-size:12px;line-height:15px;text-transform:none;color:#999}
.entry-content div {margin-left:0px;line-height:20px;}
.entry-content p {margin:0 0 15px;padding:0 5px;line-height:20px;}
.entry-content a:hover {text-decoration:underline;}
.entry-content ul,
.entry-content ol {margin:20px 0;padding:0 5px;}
.entry-content ul li,
.entry-content ol li {line-height:20px;}
.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul {margin:0 0 0 20px;line-height:20px;}
.entry-content ul p,
.entry-content ol p {margin-left:0;line-height:20px;}
.entry-content abbr {border-bottom:1px dotted #AAA;text-transform:uppercase;font-size:0.85em;letter-spacing:1px;}
.entry-content blockquote {margin-bottom:20px;margin-left:0px;padding:0 5px;font-style:italic;font-size:11px;line-height:17px;color:#777}
.entry-content blockquote *,
.entry-content blockquote pre {padding:5px 0;margin:0;font-style:italic;font-size:11px;line-height:17px;color:#777}
.entry-content p cite {border-bottom:1px solid #AAA;font-style:italic;margin-top:-20px;line-height:17px;}
.entry-content code {font-family: "Courier New",Courier,monospace;font-size:13px;}
.entry-content del {text-decoration:line-through;}
.entry-content dl {margin:0 0 10px 180px;}
.entry-content dl dt {font-weight:600;margin-top:5px}
.entry-content dl dd {padding-left:10px;}
.entry-content ins {text-decoration:underline;}
.entry-content pre {margin:0 0 20px;overflow:hidden;font-family: "Courier New",Courier,monospace;font-size:13px;}
.entry-content hr{border:none;background-color:#AAA;height:1px;margin:0 0 15px;display:block;clear:both;}
.entry-content object {margin-left:-5px;max-width:100%;width:100%;overflow:hidden;}
.entry-content embed {max-width:100%;width:100%;}
.entry-content .page-link {margin-left:180px;}

/*	Image Styles */
.entry-content img {height:inherit;margin-left:-5px;margin-right:0;}

/*	iPhone Image size constraints */
@media screen and (max-width: 480px) {
	.entry-content hr,
	.entry-content img {max-width:460px;margin:0;padding:0;}
	.entry-content img.alignleft {margin:0 5px 10px -5px;float:left}
	.entry-content img.aligncenter {margin:5px 0;}
	.entry-content img.alignright {margin:0 0 10px 5px;float:right}
	.entry-content img.size-large {height:inherit;margin:0 -5px;}
}
@media screen and (max-width: 320px) {
	.entry-content hr,
	.entry-content img {max-width:300px;margin:0;padding:0;}
	.entry-content img.alignleft {margin:0 5px 10px -5px;float:left}
	.entry-content img.aligncenter {margin:5px 0;}
	.entry-content img.alignright {margin:0 0 10px 5px;float:right}
	.entry-content img.size-large {height:inherit;margin:0 -5px;}
}

/*	Justify floating content */
.entry-content *.no-hang[style] {margin-bottom:20px !important;width:100% !important;}
.entry-content *.hang-1-column[style] {margin-bottom:20px !important;width:100% !important;}
.entry-content *.hang-2-column[style] {margin-bottom:20px !important;width:100% !important;}

/*	Post Entry Meta */
.entry-meta {height:30px;margin-left:0px;padding-bottom:10px;text-transform:uppercase;font-size:11px;clear:both;float:none;border-bottom:1px solid #AAA;display:none;}
.entry-meta span {width:155px;padding:0 5px;margin-right:10px;float:left;}
.entry-meta span.edit {width:70px;margin-right:0;}

/*	Single Page Entry Meta */
.single-entry-meta {width:100%;padding:8px 0 10px;margin:10px 0 0;display:table;clear:both;float:none;font-size:11px;line-height:20px;border:1px solid #AAA;border-width: 1px 0;}
.single-entry-meta .meta-item {display:block;}
.single-entry-meta .meta-item .label {width:75px;padding-left:5px;float:left;text-transform:uppercase;}
.single-entry-meta .meta-item .meta-content,
.single-entry-meta .meta-item p {padding:0 5px;margin-left:80px;display:block;}
.error404 .post {border:none;}

/*	Archive Styles */
.archive-meta {width:inherit;padding:0 0 10px;margin:3px 0 10px;border-width:0 0 1px;} 
.archive-meta .category-description,
.archive-meta .tag-description,
.archive-meta .author-bio {width:inherit;margin-top:3px;margin-bottom:3px;} 
.archive-meta .meta-search {margin-top:8px;}

/*	Image Template Styles */
.attachment #content .entry-title {width:inherit;overflow:hidden;}
.attachment #content .entry-date {display:none;}
.attachment #content .entry-content {width:inherit;overflow:hidden;}
.attachment #content .entry-meta {display:block;}
.attachment #container .attachment {margin-left:0;}

/*	Page Styles */
.page .post {border-bottom:none;}
.page #content .entry-title {width:100%;padding-bottom:0;margin:0;display:block;float:left;text-transform:uppercase;}
.page #content {width:inherit;}
.page #content .entry-content {width:inherit;padding:10px 0 5px;}
.page #content .entry-content p {padding-left:5px;padding-right:5px;}
.page #content .entry-content .page-link {padding:0 5px;margin-left:0px;}
.page #content .single-entry-meta {padding:0;margin:0;border:none;}
.page #content .entry-content .topcolumn img {height:inherit;margin-left:-5px;}
.page #content .entry-content .rightcolumn img.alignleft {margin-left:-5px;}

/*	Edit links */
#content .edit {margin-left:5px;text-transform:uppercase;}
.edit-link a, .post-edit-link {color:red;text-transform:uppercase;}

/*	Gallery Styles
.entry-content img {margin:5px 10px 5px -5px;}
.alignleft,
img.alignleft {margin-right:10px;float:left;}
.alignright,
img.alignright {display:block;float:right;}
.aligncenter,
img.aligncenter {margin:5px auto -7px;clear:both;display: block;}
.alignnone,
img.alignnone {margin-bottom:-5px;}
.gallery img {margin:0}
.wp-smiley {max-height:12px;margin:0 !important}  */

/*	Image Captions */
.wp-caption {margin-bottom:-5px;}
.wp-caption.alignnone,
.wp-caption.alignleft,
.wp-caption.aligncenter {margin-left:0px;}
.wp-caption.alignnone p.wp-caption-text,
.wp-caption.alignleft p.wp-caption-text,
.wp-caption.aligncenter p.wp-caption-text {margin-left:5px;max-width:320px;}
.wp-caption.alignright {margin-right:0;float:right;display:block;}
.wp-caption.alignright img {height:inherit;margin-left:-5px;margin-right:0;max-width:100%;}
.wp-caption.alignright p.wp-caption-text {margin-left:5px;width:inherit;right:0;max-width:320px;float:right;}
.wp-caption img {padding:0;margin:0;border:0 none}
.wp-caption p.wp-caption-text {text-align:left;padding:5px 0;font-style:italic;color:#999}
/*	Override inline styles */
.wp-caption[style] {width:100% !important;}


/*	Archives Template Listings
----------------------------------------- */
.taxonomy-archive {width:100%;min-height:87px;padding:0;margin:0;float:left;position:relative;}
.taxonomy-archive h3 {width:inherit;padding:5px 0 5px 5px; margin:10px 0 0;float:left;font-weight:400;font-size:11px;line-height:13px;text-transform:uppercase;}
.taxonomy-archive h3 br {display:none;}
.taxonomy-archive h3 .count {float:right;padding-right:10px;}
.taxonomy-archive ul {width:inherit;margin:0 0 14px;padding:0;float:left;list-style:none;}
.taxonomy-archive ul li {width:inherit;margin:0;padding:0;display:block;float:left;position:relative;}
.taxonomy-archive ul li a {width:inherit;padding:6px 0 0;margin-bottom:4px;display:block;position:relative;border-bottom:1px dotted #666;line-height:10px;}
.taxonomy-archive ul li:hover a {color:#FFF;border-color:#FFF;}
.taxonomy-archive ul li a span {padding:0 5px 3px;background:#FFF;z-index:4;}
.taxonomy-archive ul li a span.postcount {padding-bottom:4px;position:absolute;right:0;background:#FFF;text-align:right;z-index:4}
.taxonomy-archive ul li .description {width:158px;left:0;display:none;position:absolute;border:1px solid #AAA;border-top-width:0;font-size:11px;padding:2px 5px}
.taxonomy-archive ul li:hover .description {display:block;margin:0 0 5px;background:#FFF;z-index:10}
.taxonomy-archive ul li .description:hover {display:none;}

#allcategories ul li .description {width:inherit;height:inherit;padding:2px 5px 16px;margin:0px;display:block;border:none;overflow:hidden;position:relative;left:0;font-size:11px;z-index:10;}

#datearchives {width:100%;min-height:87px;padding:0;margin-bottom:0px;float:left;position:relative;}
#datearchives .archive-year {clear:both;float:none;display:block;border-top:1px solid #AAA;}
#datearchives h3 {width:inherit;padding:25px 0 15px 5px; margin:0;float:left;border:1px solid #AAA;border-width:1px 0 0;font-weight:400;font-size:11px;line-height:11px;text-transform:uppercase;}
#datearchives h4 {width:inherit;padding:5px 0 5px 5px; margin:10px 10px 10px 0;float:left;font-weight:400;font-size:11px;line-height:11px;}
#datearchives ul {width:inherit;margin:0px;float:rightt;list-style:none;}
#datearchives ul li {width:160px;height:inherit;padding:0 5px;margin-left:10px;float:right;display:block;overflow:hidden;position:relative;}
#datearchives ul li a {width:160px;height:inherit;padding:6px 0 0;margin-bottom:4px;display:block;position:relative;line-height:24px;font-size:18px;font-family:Helvetica,HelveticaNeue,Arial,Verdana,sans-serif;}
#datearchives ul li:hover a {color:#FFF;border-color:#FFF;}
#datearchives ul li a span.archiveyear {padding-bottom:3px;float:none;clear:both;display:block;font-size:11px;line-height:18px;z-index:4;font-family:Arial,Verdana,sans-serif;}
#datearchives ul li a span.postcount {padding:9px 0 4px;position:absolute;right:0;top:0;z-index:4;font-size:11px;line-height:20px;font-weight:300;text-align:right;font-family:Arial,Verdana,sans-serif;}
#datearchives ul li:hover .description {}

h3 span.count {text-transform:lowercase;}
#alltags.bottomtaxonomy,
#allcategories.bottomtaxonomy {border-top:1px solid #AAA;}

/*	Next & Previous
----------------------------------------- */
.nextprev {padding:0 0 10px;width:100%;margin:0;display:table;clear:both;float:none;font-size:10px;text-transform:uppercase;}
.nextprev a {height:15px;padding:5px;display:block;line-height:15px;}
.nextprev a:hover {color:#FFF;}
.nextprev-arrow {display:block;float:left;width:10px;padding:0 5px 0;font-size:15px;line-height:10px;font-family: "Times New Roman", Times, Georgia, Arial, serif;}
.nextprev a .nextprev-link-title,
.nextprev a .nextprev-post {text-align:center;width:100%;display:block;}

/*	Pagination Nav */
.pagination a {width:100%;float:left;margin:0;line-height:15px;}
.pagination .nextprev-arrow {display:block;float:left;width:16px;}
.pagination .nav-next a {margin-left:0;}

.nav-previous {width:50%;height:25px;padding:0;margin:0;overflow:hidden;float:left;text-align:right;line-height:10px;}
.nav-previous .nextprev-arrow {text-align:left;}
.nav-previous a {padding-right:4px;border-right:1px solid #AAA;}
.nav-next {width:50%;height:25px;padding:0;margin:0 0 0 -1px;float:right;overflow:hidden;text-align:left;line-height:10px;}
.nav-next .nextprev-arrow {text-align:right;float:right;padding-right:15px;}
.nav-next a {border-left:0px solid #AAA;}

/*	Comments
----------------------------------------- */
#comments {position:relative;list-style-position:inside;}
#comments h3 {width:75px;padding-left:5px;display:block;font-size:12px;line-height:36px;float:left;clear:right;}
#comments p#login {padding:10px 0 10px 5px;margin:0;border-top:1px solid #AAA;}
#comments .comment-list-meta {padding:9px 0 9px 5px;display:inline-block;line-height:18px;}
#comments .add-comment {}
#comments img.avatar {padding:0 32px 0 10px;float:left;border:none;}
#comments .reply {padding:0;margin-bottom:10px;position:relative;clear:both;float:none;}
#comments .reply a {text-transform:uppercase;font-size:11px;padding:0 5px;display:block;}
#comments-list {padding:0;margin-left:0px;border-top:1px solid #999;}
#comments-list ul,
#comments-list ol {padding:0;margin:0 0 30px;list-style:none;}
#comments-list li {min-height:80px;padding:10px 0 0;position:relative;border-top:1px solid #AAA;}
#comments-list li.byuser {border-top:1px solid #999;margin-bottom:-1px}
#comments-list li .comment-author-type {position:absolute;top:60px;left:0;padding:0 10px;font-size:11px;font-weight:bold;text-transform:uppercase;}
#comments-list li li{margin-left:0px;}
#comments-list .comment p {padding:0 5px;margin:0 0 15px 0px;line-height:20px;}
#comments-list .comment blockquote {color:#777;margin:0 0 15px 20px;font-size:11px;line-height:17px;}
#comments-list .comment code {font-family: "Courier New",Courier,monospace;font-size:12px;}
#comments-list cite {display:inline;font-style:normal;font-weight:800}
.comment-author {padding-left:5px;}
.comment-author {display:inline;}
.comment-meta {display:inline-block;margin-bottom:2px;}
.comment-meta.comment-awaiting-moderation {display:block;padding:0 5px 10px;margin-left:90px;color:red;font-size:11px;text-transform:uppercase;}
.comment-meta.comment-awaiting-moderation em {font-style:normal;}
.comment-meta a {font-weight:400;font-size:11px;}
.comment-meta a.comment-edit-link {color:red;font-weight:600;font-size:11px;}
.comment-date, .comment-time {font-size:11px;text-transform:uppercase;}

#trackbacks-list {padding:0;margin-left:0px;;border-top:1px solid #999;}
#trackbacks-list ol {margin-bottom:20px;list-style:none;}
#trackbacks-list li {padding:10px 0;position:relative;border-top:1px solid #AAA;}
#trackbacks-list a.comment-edit-link {color:red;font-weight:600;font-size:11px;}
#trackbacks-list .comment-author{padding:0 5px;}
.trackback-date {width:90px;display:inline-block;font-size:11px;text-transform:uppercase;}

#respond {padding:0;margin:0 0 20px 0px;border-top:1px solid #AAA;}
#respond h3 {width:100%;padding:0 5px;margin-bottom:0;float:none;clear:both;display:block;}
#respond p {padding:0 0 0 5px;}
#respond #cancel-comment-reply {padding-left:5px;display:inline-block;}
#respond #cancel-comment-reply #cancel-comment-reply-link {margin-bottom:10px;display:block;}
#respond .form-section {width:100%;display:block;clear:both;float:none;border-top:1px solid #AAA;line-height:20px;}
#respond .form-label {width:25%;padding:5px 0 5px 5px;margin-right:10px;float:left;}
#respond .form-input {width:70%;padding:5px 0;float:left;}
#respond .form-textarea {width:70%;float:left;padding:5px 0;}
#respond .form-textarea textarea {width:90%;}
#respond #form-section-url input {width:90%;}
#respond #form-allowed-tags {width:100%;border:none;clear:both;display:table;float:none;font-size:11px;}
#respond #form-allowed-tags .form-label {font-size:12px;}
#respond #form-allowed-tags #comment-notes {padding-bottom:5px;}
#respond .form-submit {border-top:1px solid #AAA;}
#respond #submit {margin-top:5px;}
#respond .required {line-height:20px;font-size:10px;}
.page #comments {width:inherit;}

/*	Footer
----------------------------------------- */
#footer {font-size:11px;border-top:1px solid #066;color:#333;}
#footer p, #footer small {padding:0 5px;}

